body {
    font-family: 'Oxanium';
}

#logo {
    max-width: 110px;
    height: 100%;
}

#header {
    background-color: gray;
    color: white;
}

#start {
    background-color: #4cba30;
}

#start:hover {
    cursor: pointer;
    background-color: #60eb3d;
}

.choice {
    background-color: #ebebeb;
    margin: 7px 0px;
}

.choice:hover {
    cursor: pointer;
    background-color: #cfcfcf;
    margin: 7px 0px;
}

@media (max-width: 991.98px) {
    #title {
        font-size: 35px;
    }

    #timer {
        font-size: 25px;
    }

    #logo {
        min-width: 100px;
        max-height: 100px;
    }
}